 
body {
    font-family: Arial, sans-serif;
}

#list-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#list-container li:last-child {
    border-bottom: none;
}

.purchased {
    text-decoration: line-through;
    background-color: #ccc;
}